
.icon-basket:before { content: '\e800'; } /* '' */
.icon-search-1:before { content: '\e803'; } /* '' */
.icon-pinterest-squared:before { content: '\f0d3'; } /* '' */
.icon-instagram:before { content: '\f16d'; } /* '' */
.icon-twitter-squared:before { content: '\f304'; } /* '' */
.icon-facebook-squared:before { content: '\f308'; } /* '' */
.icon-linkedin-squared:before { content: '\f30c'; } /* '' */
